<%- include("header") -%>
<h2 class="box abt">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi, laborum laboriosam, quis officia omnis deleniti voluptatem accusantium non aspernatur provident perferendis velit sapiente nisi assumenda, dolores ad dignissimos eos?
</h2>
<%- include("footer") -%>