<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <ul class="navy box">
            <li class="navy-list"><a href="/">Home List</a></li>
            <li class="navy-list"><a href="/work">Work List</a></li>
            <li class="navy-list"><a href="/about">About</a></li>
        </ul>
    </nav>